@model fast_claims_v1._2.Models.shared.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}


<div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">

        <div class="col-lg-6">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Tired of your old password?</h1>
                    <p class="mb-4">We get it,  Just enter your old password and create a new password!</p>
                </div>
                @using (Html.BeginForm("UpdatePassword", "Admin", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.TextBoxFor(e => e.oldpassword, new { @class = "form-control form-control-user", id = "exampleInputEmail", type = "password", placeholder = "Your old password..." })
                        @Html.ValidationMessageFor(e => e.oldpassword)
                        @Html.DisplayFor(e => e.errormessage)

                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(e => e.newpassword, new { @class = "form-control form-control-user", id = "exampleInputEmail", type = "email", placeholder = "Your new password..." })
                        @Html.ValidationMessageFor(e => e.newpassword)
                        @Html.DisplayFor(e => e.errormessage)
                        @ViewBag.Error 

                    </div>

                    <input type="submit" value="Reset Password" class="btn btn-primary btn-user btn-block">
                }
                <hr>

                <div class="text-center">
                    @Html.ActionLink("Remember your password? Login!", "Login", null, new { @class = "small" })

                </div>
            </div>
        </div>
    </div>
</div>

